# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
npm-debug.log*

# Build output
dist/

# Test coverage
coverage/
junit.xml

# Visual Studio Code
.vscode/

# Mac
.DS_Store
